/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", serif;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/*******
CSS Reset ^^^
********/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 0 1rem;
    flex-shrink:0;
}
main{
    background-color:hsl(0, 0%, 100%);
    max-width:22rem;
    padding:2rem;
    border-radius:15px;
    box-shadow: 0.5rem 0.5rem;
    border:2px solid black;
}

.blog-tag{
    background-color:hsl(47, 88%, 63%);
    max-width:5rem;
    text-align:center;
    border-radius:5px;
    font-weight:800;
}


h3{
    font-weight:800;
}

main > img{
    border-radius:10px;
}


.author{
    display:flex;
    gap:1rem;
    margin-top: 1rem;
    align-items:center;
}

.author > img{
    width: 2.5rem;
}

.author > p{
    font-weight:800;
    font-size:1rem;
}

@media(max-width:375px){
  main{
    min-width:90vw;
  }
}